<configuration scan="true" scanPeriod="3 seconds" debug="true">
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/var/log/order-front/order-front.log</File>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date [%thread] %-5level %logger{25} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/order-front/order-front.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>365</maxHistory>
        </rollingPolicy>
    </appender>
    <root level="@logback.root.level@">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
