<div class="menu_box">
	<div class="header">In game</div>
	<div class="content">
		<div class="menu_part">
			{{game}}
		</div>
	</div>
</div>

<div>
	<svg width="300" height="300">
	    <use x="0" y="0" xlink:href="/static/img/element/tictactoe.svg#board" />
	    <use x="0" y="0" xlink:href="/static/img/element/tictactoe.svg#blue" data-ng-click="boardClick(0);" />
	    <use x="102" y="0" xlink:href="/static/img/element/tictactoe.svg#blue" data-ng-click="boardClick(1);" />
	    <use x="204" y="0" xlink:href="/static/img/element/tictactoe.svg#blue" data-ng-click="boardClick(2);" />
	    <use x="0" y="102" xlink:href="/static/img/element/tictactoe.svg#blue" data-ng-click="boardClick(3);" />
	    <use x="102" y="102" xlink:href="/static/img/element/tictactoe.svg#blue" data-ng-click="boardClick(4);" />
	    <use x="204" y="102" xlink:href="/static/img/element/tictactoe.svg#blue" data-ng-click="boardClick(5);" />
	    <use x="0" y="204" xlink:href="/static/img/element/tictactoe.svg#blue" data-ng-click="boardClick(6);" />
	    <use x="102" y="204" xlink:href="/static/img/element/tictactoe.svg#blue" data-ng-click="boardClick(7);" />
	    <use x="204" y="204" xlink:href="/static/img/element/tictactoe.svg#red" data-ng-click="boardClick(8);" />
	</svg>
</div>
