<div class="menu_box">
	<div class="header">In game</div>
	<div class="content">
		<div class="menu_part">
			{{game}}
		</div>
	</div>
</div>

<div data-ng-if="gameState">
	<div data-ng-switch="gameState.playerColor.value == gameState.playerUp.value">
		<div data-ng-switch-when="true">Your turn</div>
		<div data-ng-switch-when="false">Opponents turn</div>
	</div>
</div>

<div>
	<svg width="300" height="300">
	    <use x="0" y="0" xlink:href="/static/img/element/tictactoe.svg#board" />
	    <use x="0" y="0" xlink:href="{{resolveBoardColor(0)}}" data-ng-click="boardClick(0);" />
	    <use x="102" y="0" xlink:href="{{resolveBoardColor(1)}}" data-ng-click="boardClick(1);" />
	    <use x="204" y="0" xlink:href="{{resolveBoardColor(2)}}" data-ng-click="boardClick(2);" />
	    <use x="0" y="102" xlink:href="{{resolveBoardColor(3)}}" data-ng-click="boardClick(3);" />
	    <use x="102" y="102" xlink:href="{{resolveBoardColor(4)}}" data-ng-click="boardClick(4);" />
	    <use x="204" y="102" xlink:href="{{resolveBoardColor(5)}}" data-ng-click="boardClick(5);" />
	    <use x="0" y="204" xlink:href="{{resolveBoardColor(6)}}" data-ng-click="boardClick(6);" />
	    <use x="102" y="204" xlink:href="{{resolveBoardColor(7)}}" data-ng-click="boardClick(7);" />
	    <use x="204" y="204" xlink:href="{{resolveBoardColor(8)}}" data-ng-click="boardClick(8);" />
	</svg>
</div>
